[submodule "vzt/extern/fmt"]
	path = vzt/extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vzt/extern/SDL"]
	path = vzt/extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vzt/extern/VulkanMemoryAllocator"]
	path = vzt/extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "app/extern/glm"]
	path = vzt/extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "vzt/extern/glslang"]
	path = vzt/extern/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "vzt/extern/SPIRV-Headers"]
	path = vzt/extern/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "vzt/extern/SPIRV-Tools"]
	path = vzt/extern/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "vzt/extern/tinyobjloader"]
	path = vzt/extern/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
